.backgroundindex {
    background: url('../img/BACK.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: absolute;
}
.bannerindex {
    background: #0075bc;
    width: 100%;
    height: 10vh;
    position: relative;  
}
/*.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 330px;
}*/
.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
h2{
    text-align: center;
    color: white !important;
}
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    /*background-color: #5a9aa0;*/
    background-color:rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 2px 2px 5px #755d5d;
    -webkit-box-shadow: 2px 2px 5px #755d5d;
    -moz-box-shadow: 2px 2px 5px #755d5d;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px !important;
    background: rgba(255,255,255,0.8); 
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
